<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT movieLandingPage ANY>
<!ATTLIST movieLandingPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT team ANY>
<!ATTLIST team id ID #REQUIRED>
<!ELEMENT teamMembers ANY>
<!ATTLIST teamMembers id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT moviePage ANY>
<!ATTLIST moviePage id ID #REQUIRED>
<!ELEMENT siteConfigurationFolder ANY>
<!ATTLIST siteConfigurationFolder id ID #REQUIRED>
<!ELEMENT country ANY>
<!ATTLIST country id ID #REQUIRED>
<!ELEMENT movieCategoryFolder ANY>
<!ATTLIST movieCategoryFolder id ID #REQUIRED>
<!ELEMENT movieCategory ANY>
<!ATTLIST movieCategory id ID #REQUIRED>
]>
<root id="-1">
  <team id="1062" key="919346ae-ff0a-47ac-9ed2-193256e074cb" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-01T15:19:53" updateDate="2018-08-01T15:22:48" nodeName="C sharp team" urlName="c-sharp-team" path="-1,1062" isDoc="" nodeType="1055" creatorName="Nazir" writerName="Nazir" writerID="0" template="1054" nodeTypeAlias="team" isPublished="true">
    <teamMembers id="1064" key="459de9b9-17ac-40e1-9442-b7ef19f7bd0c" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2018-08-01T15:21:56" updateDate="2018-08-01T16:42:42" nodeName="Sharif" urlName="sharif" path="-1,1062,1064" isDoc="" nodeType="1061" creatorName="Nazir" writerName="Nazir" writerID="0" template="1060" nodeTypeAlias="teamMembers" isPublished="true">
      <memberCode><![CDATA[001]]></memberCode>
      <memberImage><![CDATA[umb://media/ee8035cc9ace46b68131f29b9fcb9043]]></memberImage>
      <memberName><![CDATA[Sharif]]></memberName>
      <memberDescription><![CDATA[<p>Front End Developer</p>]]></memberDescription>
    </teamMembers>
    <contact id="1067" key="88e70122-5bb5-4c9c-b8c8-5cf9821c315d" parentID="1062" level="2" creatorID="0" sortOrder="1" createDate="2018-08-01T17:01:47" updateDate="2018-08-01T17:01:47" nodeName="ContactMe" urlName="contactme" path="-1,1062,1067" isDoc="" nodeType="1066" creatorName="Nazir" writerName="Nazir" writerID="0" template="1065" nodeTypeAlias="contact" isPublished="true" />
    <teamMembers id="1068" key="ef2b4612-07fd-40b8-a9b2-e61d5939a1a9" parentID="1062" level="2" creatorID="0" sortOrder="2" createDate="2018-08-02T10:33:21" updateDate="2018-08-02T10:33:21" nodeName="Arif" urlName="arif" path="-1,1062,1068" isDoc="" nodeType="1061" creatorName="Nazir" writerName="Nazir" writerID="0" template="1060" nodeTypeAlias="teamMembers" isPublished="true">
      <memberCode><![CDATA[002]]></memberCode>
      <memberImage><![CDATA[umb://media/ee8035cc9ace46b68131f29b9fcb9043]]></memberImage>
      <memberName><![CDATA[Arif]]></memberName>
      <memberDescription><![CDATA[<p>.NET Developer</p>]]></memberDescription>
    </teamMembers>
  </team>
  <home id="1107" key="6fc70592-dad8-4a9e-9f35-249bd7c33af3" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2018-08-03T11:52:40" updateDate="2018-08-03T11:52:40" nodeName="Home" urlName="home" path="-1,1107" isDoc="" nodeType="1052" creatorName="Nazir" writerName="Nazir" writerID="0" template="1051" nodeTypeAlias="home" isPublished="true">
    <country id="1115" key="778949f1-a6b2-4794-9bb9-bdbf41127c74" parentID="1107" level="2" creatorID="0" sortOrder="2" createDate="2018-08-03T12:15:01" updateDate="2018-08-03T12:15:01" nodeName="en-my" urlName="en-my" path="-1,1107,1115" isDoc="" nodeType="1087" creatorName="Nazir" writerName="Nazir" writerID="0" template="1086" nodeTypeAlias="country" isPublished="true">
      <abbreviation><![CDATA[ENG-MY]]></abbreviation>
      <internationalCallingCode><![CDATA[006]]></internationalCallingCode>
      <movieLandingPage id="1099" key="a50ef98c-9ed0-4e7d-a25a-d1f098fe8b13" parentID="1115" level="3" creatorID="0" sortOrder="1" createDate="2018-08-03T10:57:27" updateDate="2018-08-03T12:15:14" nodeName="Movie Landing Page" urlName="movie-landing-page" path="-1,1107,1115,1099" isDoc="" nodeType="1101" creatorName="Nazir" writerName="Nazir" writerID="0" template="1100" nodeTypeAlias="movieLandingPage" isPublished="true">
        <moviePage id="1098" key="713d4cab-2db6-4c93-b426-467ec1f98e32" parentID="1099" level="4" creatorID="0" sortOrder="7" createDate="2018-08-03T10:56:57" updateDate="2018-08-03T14:36:55" nodeName="Mission Impossible Fallout" urlName="mission-impossible-fallout" path="-1,1107,1115,1099,1098" isDoc="" nodeType="1073" creatorName="Nazir" writerName="Nazir" writerID="0" template="1072" nodeTypeAlias="moviePage" isPublished="false">
          <movieReleaseDate>2018-07-25T00:00:00</movieReleaseDate>
          <movieThumbnailImage><![CDATA[umb://media/8c4873a92d2d4e5f886505c4692e0e6c]]></movieThumbnailImage>
          <movieMainImage><![CDATA[umb://media/8c4873a92d2d4e5f886505c4692e0e6c]]></movieMainImage>
          <movieTitle><![CDATA[Mission: Impossible - Fallout]]></movieTitle>
          <movieCategory><![CDATA[umb://document/82ca7f57196049d1b410617c0853f5f0]]></movieCategory>
          <movieRating>4</movieRating>
          <movieDescription><![CDATA[Ethan Hunt and the IMF team join forces with CIA assassin August Walker to prevent a disaster of epic proportions. Arms dealer John Lark and a group of terrorists known as the Apostles plan to use three plutonium cores for a simultaneous nuclear attack on the Vatican, Jerusalem and Mecca, Saudi Arabia. When the weapons go missing, Ethan and his crew find themselves in a desperate race against time to prevent them from falling into the wrong hands.]]></movieDescription>
        </moviePage>
        <moviePage id="1103" key="109157bf-b284-476d-a87f-bc913bb1f4df" parentID="1099" level="3" creatorID="0" sortOrder="8" createDate="2018-08-03T11:04:01" updateDate="2018-08-03T11:55:16" nodeName="Movie Details Page2" urlName="movie-details-page2" path="-1,1107,1099,1103" isDoc="" nodeType="1073" creatorName="Nazir" writerName="Nazir" writerID="0" template="1072" nodeTypeAlias="moviePage" isPublished="true">
          <movieTitle><![CDATA[Movie 2]]></movieTitle>
          <movieCategory><![CDATA[umb://document/efe66ec1821f43248147d3f1f496e46f]]></movieCategory>
          <movieRating>3</movieRating>
          <movieDescription><![CDATA[Description for movie 2]]></movieDescription>
        </moviePage>
        <moviePage id="1104" key="b60b7439-5838-4a8a-9f34-8dacba3fc841" parentID="1099" level="3" creatorID="0" sortOrder="9" createDate="2018-08-03T11:04:39" updateDate="2018-08-03T11:55:16" nodeName="Movie Details Page3" urlName="movie-details-page3" path="-1,1107,1099,1104" isDoc="" nodeType="1073" creatorName="Nazir" writerName="Nazir" writerID="0" template="1072" nodeTypeAlias="moviePage" isPublished="true">
          <movieTitle><![CDATA[Movie 3]]></movieTitle>
          <movieCategory><![CDATA[umb://document/4a40ac4f264446cca65908696d0ec96b]]></movieCategory>
          <movieRating>2</movieRating>
          <movieDescription><![CDATA[Details for movie 3]]></movieDescription>
        </moviePage>
      </movieLandingPage>
    </country>
  </home>
  <siteConfigurationFolder id="1108" key="85d35d65-0e8b-4074-9295-075268814d81" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2018-08-03T11:55:54" updateDate="2018-08-03T11:55:54" nodeName="Site Configuration" urlName="site-configuration" path="-1,1108" isDoc="" nodeType="1083" creatorName="Nazir" writerName="Nazir" writerID="0" template="1082" nodeTypeAlias="siteConfigurationFolder" isPublished="true">
    <country id="1109" key="443d5ba5-0ea0-40fb-be13-c54f90570e98" parentID="1108" level="2" creatorID="0" sortOrder="0" createDate="2018-08-03T11:58:12" updateDate="2018-08-03T11:58:12" nodeName="Malaysia" urlName="malaysia" path="-1,1108,1109" isDoc="" nodeType="1087" creatorName="Nazir" writerName="Nazir" writerID="0" template="1086" nodeTypeAlias="country" isPublished="true">
      <abbreviation><![CDATA[MY]]></abbreviation>
      <internationalCallingCode><![CDATA[006]]></internationalCallingCode>
      <movieCategoryFolder id="1110" key="5d4d3087-34aa-4f9c-9cc2-bd211825e4f8" parentID="1109" level="3" creatorID="0" sortOrder="0" createDate="2018-08-03T11:58:33" updateDate="2018-08-03T11:58:33" nodeName="Movie Categories" urlName="movie-categories" path="-1,1108,1109,1110" isDoc="" nodeType="1089" creatorName="Nazir" writerName="Nazir" writerID="0" template="1088" nodeTypeAlias="movieCategoryFolder" isPublished="true">
        <movieCategory id="1111" key="bbe8b79d-7034-4412-9a21-a667ba7bed34" parentID="1110" level="4" creatorID="0" sortOrder="0" createDate="2018-08-03T12:03:56" updateDate="2018-08-03T12:08:57" nodeName="18 Above" urlName="18-above" path="-1,1108,1109,1110,1111" isDoc="" nodeType="1090" creatorName="Nazir" writerName="Nazir" writerID="0" template="1080" nodeTypeAlias="movieCategory" isPublished="true">
          <description><![CDATA[18 and above]]></description>
        </movieCategory>
        <movieCategory id="1113" key="3bfd04c1-5348-4ccb-8338-6ef7699a1207" parentID="1110" level="4" creatorID="0" sortOrder="1" createDate="2018-08-03T12:06:15" updateDate="2018-08-03T12:09:48" nodeName="PG" urlName="pg" path="-1,1108,1109,1110,1113" isDoc="" nodeType="1090" creatorName="Nazir" writerName="Nazir" writerID="0" template="1080" nodeTypeAlias="movieCategory" isPublished="true">
          <description><![CDATA[PG - Parental Guidance]]></description>
        </movieCategory>
        <movieCategory id="1114" key="d9430786-e4f8-47ec-934b-d2ef4e568166" parentID="1110" level="4" creatorID="0" sortOrder="2" createDate="2018-08-03T12:09:18" updateDate="2018-08-03T12:09:18" nodeName="Rated" urlName="rated" path="-1,1108,1109,1110,1114" isDoc="" nodeType="1090" creatorName="Nazir" writerName="Nazir" writerID="0" template="1080" nodeTypeAlias="movieCategory" isPublished="true">
          <description><![CDATA[R - Rated]]></description>
        </movieCategory>
      </movieCategoryFolder>
    </country>
  </siteConfigurationFolder>
</root>